footer{
width: 100%;
height: 300px;
display: flex;
justify-content: start;
align-items: start;
column-gap: 40px;
color: black;
background-color: #f9f9f9;
padding-top: 50px;
padding-left: 10px;

.part1{
    width: 22%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
   
}
.part2{
    width: 22%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.part3{
    width: 22%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
   
    ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    }
}
.part4{
    width: 22%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .inputsub{
        display: flex;
        column-gap: 10px;
        input{ 
        width: 200px;
        height: 30px;
        outline-color: #ff6b35;
    }
       
    }
}
}


